*{
    font-family: "Inter", sans-serif;
}

/**------------------------------------------------------Header--------------------------------------------**/
header{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    width: 90%;
}
#thelogo{
    width: 110px;
    height: 30px;
}
nav{
    width: 505px;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
nav ul{
    display: flex;
    justify-content: space-between;
}

.social{
    width: 133.9px;
    display: flex;
    justify-content: space-between;
}

/**------------------------------------------Blog header--------------------------------**/
#blogheader{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    padding-top: 2%;
    text-align: center;
}

#blogheader h1{
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 10px;
}

#blogheader p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}



/**-------------------------Blog Hero-------------------------------------------------**/
#blog-hero{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

#blog-hero img{
    width: 90%;
    height: 500px;
    border-radius: 20px;
}


/**----------------------------------------------------------blog content----------------------------**/
#blogcontent{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    padding-top: 2%;
    display: flex;
    
}

.thecontent{
    width: 850px;
    height: 1772px;
    padding-left: 5%;
    padding-right: 5%;
}

.thecontent p{
    width: 800px;
    height: 84px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
}

.therightcontent{
    width: 131px;
    height: 205px;
    text-align: center;
}

.therightcontent h3{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 10%;
}

.therightcontent a img{
    margin-bottom: 10px;
    
}

.lorem{
    padding: 3%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);

}

.lorem h1{
    font-size: 36px;
    line-height: 64px;
}


/**-------------------------------Subscribe section--------------------------**/
#subscsribesection{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    padding-top: 0%;
    
}

.subscribe{
    background: url(/Images/subscribebg.png);
    height: 400px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 2%;
}

.subscribe h1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subscribe p{
    font-size: 16px;
    line-height: 28px;
}

.subscribe form input{
    background-color: white;
    border: none;
    padding: 1.5%;
    border-radius: 10px;
}
.subscribe button{
    background-color: black;
    color: white;
    padding: 1.2%;
    border: none;
    border-radius: 10px;
}


/**----------------------------Delicious recipeeeeeeeeeeeee section---------------------**/
#thedeliciousrecipe{
   padding: 5%;
    width: 90%;
}

#thedeliciousrecipe h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
.thedeliciousrecipe1{
    width: 250px;
    padding: 0%;
    height: 300px;
}

.tropicalfruit{
    background: url(/Images/tropical.png);
    width: 230px;
    padding: 5%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    
}

.tropicalfruit img{
    float: right;
}

/**-------------wagyu beef-----------**/
.wagyubeef{
        background: url(/Images/Wagyu\ beef.png);
        width: 230px;
        padding: 5%;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
}    
   
.wagyubeef img{
        float: right;
  }

/**-------------------japanese rice-----------**/
.japaneserice{
        background: url(/Images/japaneeserice.png);
        width: 230px;
        padding: 5%;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
}

.japaneserice img{
    float: right;
}

/**---------------------cauli flower---------------**/
.cauliflower{
    background: url(/Images/Cauliflower.png);
    width: 230px;
    padding: 5%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.cauliflower img{
    float: right;
}


.thedeliciousrecipe1 h2{
    font-size: 18px;
    line-height: 26px;
}

.food-time1{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 0%;
    padding-right: 2%;
    padding-top: 0%;
    padding-bottom: 1%;
    margin-right: 20px;

}

.food-time1 img{
    margin-right: 0px;
}

.food-time1 p{
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.timers{
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.groupedrecipes{
    display: flex;
    justify-content: space-between;
}


/**----------------------------Footer section-----------------------------**/
footer{
    width: 90%;
    padding: 5%;
}
.footercombination{
    display: flex;
    justify-content: space-between;
}

footer p{
    text-align: center;
}


@media (min-width:300px) and (max-width:450px) {
/**------------------------------------------------------Header--------------------------------------------**/
header{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    width: 90%;
    align-items: center;
}
#thelogo{
    width: 110px;
    height: 20px;
}
nav{
    width: 150px;
   
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 60px;
}
nav ul{
    display:block;
    justify-content: space-between;
      height: 100%;
    background-color: black;
    position: fixed;
    right: 0px;
    margin-right: -260px;
    top: -20px;
    padding: 50px;
    width: 120px;
    transition-duration: 1s;
    
}

.social{
    display: none;
   width: 5%;
}

#closebar {
    display: flex;
}
#closebar span{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 20px;
    color: #6b0de7;
}

.menu-icon img{
   
  width: 20px;
}
.menu-icon{
    display: flex;
    padding: 10px;    
    background-color: black;
   margin-left: 50%;
    
}
/**------------------------------------------Blog header--------------------------------**/
#blogheader{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    padding-top: 2%;
    text-align: center;
}

#blogheader h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

#blogheader p{
    font-size: 14px;
    text-align: justify;
    font-weight: 400;
    line-height: 28px;
}



/**-------------------------Blog Hero-------------------------------------------------**/
#blog-hero{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

#blog-hero img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

/**----------------------------------------------------------blog content----------------------------**/
#blogcontent{
    padding-left: 2%;
    padding-right: 5%;
    width: 90%;
    padding-top: 2%;
    display: block;
    
}

.thecontent{
    width: 100%;
    height: 1940px;
    padding-left: 5%;
    padding-right: 5%;
}

.thecontent h2{
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
}

.thecontent p{
    width: 100%;
    height: 84px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 50px;
}

.therightcontent{
    width: 80%;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.therightcontent h3{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 10%;
    margin-right: 10px;
    
}

.therightcontent a img{
    margin-bottom: 10px;
    margin-right: 20px;
    
    
}

.lorem{
    padding: 3%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    margin-top: 50px;

}

.lorem h1{
    font-size: 30px;
    line-height: 50px;
}

#blogchefimg{
    width: 100%;
}


/**-------------------------------Subscribe section--------------------------**/
#subscsribesection{
    padding: 5%;
    width: 90%;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.subscribe{
    background: url(Images/subscribebg.png);
    height: 100px;
    width: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 2%;
    border-radius: 0px;
}

.subscribe h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subscribe p{
    font-size: 14px;
    line-height: 28px;
    display: none;
}

.subscribe form input{
    background-color: white;
    border: none;
    padding: 1.5%;
    border-radius: 10px;
}
.subscribe button{
 background-color: black;
    color: white;
    padding: 1.2%;
    border: none;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    font-size: 10px;

}


/**----------------------------Delicious recipeeeeeeeeeeeee section---------------------**/
#thedeliciousrecipe{
    padding: 5%;
     width: 90%;
     font-family: "Inter", sans-serif;
 }
 
 #thedeliciousrecipe h1{
     font-size: 30px;
     font-weight: 600;
     text-align: center;
 }

 .groupedrecipes{
     display: block;
     margin-left: 10%;
     justify-content: space-between;
 }

 .thedeliciousrecipe1{
    margin-bottom: 30px;
 }


/**----------------------------Footer section-----------------------------**/
footer{
    width: 90%;
    padding: 5%;
    font-family: "Inter", sans-serif;
}
.footercombination{
    display: block;
    justify-content: space-between;
}

footer p{
    text-align: center;
}

.footerlogo p{
   
    text-align: left;
}
.footernav nav {
    width: 350px;
    justify-content: space-between;
    margin-left: -40px;
}

.footernav nav ul li a {
    font-size: 14px;
}


}